{% extends "base.html" %}
      
{% block title %}Twitter Satistics{% endblock %}

{% block content %}


<div class="container">
    <h1>What's happening on <span class="blue">Twitter</span> today?</h1>
    <div>
        <div class="numContainer">
        <span class="lrgCounter" id="totalToday">0</span>
        </div>
        <h3>Tweets sent today</h3>
    </div>
    <div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="totalWeek">0</span>
            </div>
            <h4>Tweets sent this week</h4>
        </div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="totalYear">0</span>
            </div>
            <h4>Tweets sent this year</h4>
        </div>
    </div>
    <p>Estimated counts based off data from internetlivestats.com</p>
</div>
<hr class="solid">
<div class="container">
    <div class="statsSearch">
        <h3>Look for stats of a <span class="blue">#hashtag</u></span> or <span class="blue">@username</span></h3>
        <form id="search">
            <input type="text" placeholder="#example" id="searchTerm">
            <input type="button" value="Search" id="submit">
        </form>
    </div>
    <h2><span class="blue term">#hashtag</span></h2>
    <div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="dayCount">0</span>
            </div>
            <h4>Tweets sent <span class="preposition">with </span><span class="blue term">#hashtag</span> today</h4>
        </div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="weekCount">0</span>
            </div>
            <h4>Tweets sent <span class="preposition">with </span><span class="blue term">#hashtag</span> in the last 7 days</h4>

        </div>
    </div>
    <div class="graphNum">
        <p id="g1">0</p>
        <p id="g2">0</p>
        <p id="g3">0</p>
        <p id="g4">0</p>
        <p id="g5">0</p>
        <p id="g6">0</p>
        <p id="g7">0</p>
    </div>
    
    <div class="graphContainer">
        
        <span class="graphBar" id="b1"></span>
        <span class="graphBar" id="b2"></span>
        <span class="graphBar" id="b3"></span>
        <span class="graphBar" id="b4"></span>
        <span class="graphBar" id="b5"></span>
        <span class="graphBar" id="b6"></span>
        <span class="graphBar" id="b7"></span>
    </div>
    <h4>Last 7 days of Tweets sent <span class="preposition">with </span><span class="blue term">#hashtag</span></h4>
    <p>Not affiliated with Twitter, Twitter is a Trademark of Twitter, Inc.</p>

</div>

<script>
var current = new Date();

let secondAmount = 10191;
let totalDay =  current.getSeconds() + (((current.getHours() * 60) + current.getMinutes()) * 60) * secondAmount;
let totalWeek = weekCalc();
let totalYear = yearCalc();

// Calculates estimated tweet count for week
function weekCalc()
{
    if (current.getDay() == 0) {
        todayNum = 6;
    } else {
        todayNum = current.getDay()-1;
    }
    return totalDay+((((todayNum*24)*60)*60)*secondAmount);
}

function yearCalc()
{
    const getDayYear = date => Math.floor((date - new Date(date.getFullYear(), 0, 0)) / 1000 / 60 / 60 / 24);
    return (((((getDayYear(new Date())*24)*60)*60)*secondAmount)+totalDay)
}

setInterval(updateTotals, 100)
function updateTotals()
{
    document.getElementById("totalToday").textContent=totalDay.toLocaleString("en-US");
    document.getElementById("totalWeek").textContent=totalWeek.toLocaleString("en-US");
    document.getElementById("totalYear").textContent=totalYear.toLocaleString("en-US");
    totalDay += Math.trunc(secondAmount/10);
    totalWeek += Math.trunc(secondAmount/10);
    totalYear += Math.trunc(secondAmount/10);
}
</script>    

<script>
document.querySelector('#submit').addEventListener('click', () => {
    var searchTerm = document.querySelector('#searchTerm').value;
    
    $.post("/search", {
        searchTerm: searchTerm
    });

    $.get("/search", function(searchData) {
    var searchData = $.parseJSON(searchData)



    console.log(searchData)
    
    if (searchData.searchTerm.includes('@')){
        document.querySelectorAll(".preposition").forEach(elem => elem.textContent='by ')
    } else {
        document.querySelectorAll(".preposition").forEach(elem => elem.textContent='with ')
    }

    document.querySelectorAll(".term").forEach(elem => elem.textContent=searchData.searchTerm);
    document.querySelector("#dayCount").textContent=searchData.dayCount;
    document.querySelector("#weekCount").textContent=searchData.weekCount;

    var b1 = searchData.b1;
    var b2 = searchData.b2;
    var b3 = searchData.b3;
    var b4 = searchData.b4;
    var b5 = searchData.b5;
    var b6 = searchData.b6;
    var b7 = searchData.b7;

    document.getElementById("g1").textContent=numeral(searchData.b1).format('0 a');
    document.getElementById("g2").textContent=numeral(searchData.b2).format('0 a');
    document.getElementById("g3").textContent=numeral(searchData.b3).format('0 a');
    document.getElementById("g4").textContent=numeral(searchData.b4).format('0 a');
    document.getElementById("g5").textContent=numeral(searchData.b5).format('0 a');
    document.getElementById("g6").textContent=numeral(searchData.b6).format('0 a');
    document.getElementById("g7").textContent=numeral(searchData.b7).format('0 a');
    console.log(numeral(searchData.b7).format('0 a'));


    const largest = Math.max(b1, b2, b3, b4, b5, b6, b7);

    document.querySelector('#b1').style.height = ((b1/largest)*200).toString()+'px';
    document.querySelector('#b2').style.height = ((b2/largest)*200).toString()+'px';
    document.querySelector('#b3').style.height = ((b3/largest)*200).toString()+'px';
    document.querySelector('#b4').style.height = ((b4/largest)*200).toString()+'px';
    document.querySelector('#b5').style.height = ((b5/largest)*200).toString()+'px';
    document.querySelector('#b6').style.height = ((b6/largest)*200).toString()+'px';
    document.querySelector('#b7').style.height = ((b7/largest)*200).toString()+'px';

})
})
</script>
{% endblock %}