{% extends "base.html" %}
      
{% block title %}Twitter Satistics{% endblock %}

{% block content %}
<!--Estimated counts section-->
<div class="container">
    <h1>What's happening on <span class="blue">Twitter</span> today?</h1>
    <div>
        <div class="numContainer">
        <span class="lrgCounter" id="totalToday">0</span>
        </div>
        <h3>Tweets sent today</h3>
    </div>
    <div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="totalWeek">0</span>
            </div>
            <h4>Tweets sent this week</h4>
        </div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="totalYear">0</span>
            </div>
            <h4>Tweets sent this year</h4>
        </div>
    </div>
    <p>Estimated counts based off data from internetlivestats.com</p>
</div>
<hr class="solid">

<!--Seach section-->
<div class="container">
    <div class="statsSearch">
        <h3>Look for stats of a <span class="blue">#hashtag</u></span> or <span class="blue">@username</span></h3>
        <form id="search" onsubmit="return false">
            <input type="text" placeholder="#example" id="searchTerm">
            <input type="button" value="Search" id="submit">
        </form>
    </div>
    <h2><span class="blue term">#example</span></h2>
    <div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="dayCount">0</span>
            </div>
            <h4>Tweets sent <span class="preposition">with </span><span class="blue term">#example</span> today</h4>
        </div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="weekCount">0</span>
            </div>
            <h4>Tweets sent <span class="preposition">with </span><span class="blue term">#example</span> in the last 7 days</h4>

        </div>
    </div>

    <!--Graph for last 7 days of data-->
    <div class="graphNum">
        <p id="g1">0</p>
        <p id="g2">0</p>
        <p id="g3">0</p>
        <p id="g4">0</p>
        <p id="g5">0</p>
        <p id="g6">0</p>
        <p id="g7">0</p>
    </div>
    
    <div class="graphContainer">
        <span class="graphBar" title="" id="b1"></span>
        <span class="graphBar" title="" id="b2"></span>
        <span class="graphBar" title="" id="b3"></span>
        <span class="graphBar" title="" id="b4"></span>
        <span class="graphBar" title="" id="b5"></span>
        <span class="graphBar" title="" id="b6"></span>
        <span class="graphBar" title="" id="b7"></span>
    </div>

    <!--Disclaimer-->
    <h4>Last 7 days of Tweets sent <span class="preposition">with </span><span class="blue term">#example</span></h4>
    <p>Not affiliated with Twitter, Twitter is a Trademark of Twitter, Inc.</p>

</div>

<!--This script calculates and updates the estimated tweet counts-->
<script>
var current = new Date();

let secondAmount = 10191;
let totalDay =  current.getSeconds() + (((current.getHours() * 60) + current.getMinutes()) * 60) * secondAmount;
let totalWeek = weekCalc();
let totalYear = yearCalc();

// Calculates estimated tweet count for week based of days passed this week
function weekCalc()
{
    if (current.getDay() == 0) {
        todayNum = 6;
    } else {
        todayNum = current.getDay()-1;
    }
    return totalDay+((((todayNum*24)*60)*60)*secondAmount);
}

// Calculates the day of the year (1-365) and then estimates tweet count based of days passed
function yearCalc()
{
    const getDayYear = date => Math.floor((date - new Date(date.getFullYear(), 0, 0)) / 1000 / 60 / 60 / 24);
    return (((((getDayYear(new Date())*24)*60)*60)*secondAmount)+totalDay)
}

// Continusly updates the counts on page with the esitmated totals and adds more on each 100 milliseconds
setInterval(updateTotals, 100)
function updateTotals()
{
    document.getElementById("totalToday").textContent=totalDay.toLocaleString("en-US");
    document.getElementById("totalWeek").textContent=totalWeek.toLocaleString("en-US");
    document.getElementById("totalYear").textContent=totalYear.toLocaleString("en-US");
    // Second amount divided by 10 to match amount to increase per 100 milliseconds
    totalDay += Math.trunc(secondAmount/10);
    totalWeek += Math.trunc(secondAmount/10);
    totalYear += Math.trunc(secondAmount/10);
}
</script>    

<!--This script handles sending the search data and updating the search section with data-->
<script>
// Just searched for example data when page is loaded
search('example')

// Gets search data from input and runs search function
document.querySelector('#submit').addEventListener('click', () => {
    var searchTerm = document.querySelector('#searchTerm').value;
    search(searchTerm);
})

// Sends and then retieves search data before updating search section
function search(searchTerm){    
    // Send data to flask backend
    $.post("/search", {
        searchTerm: searchTerm
    });

    // Retireve data from backend and parse it from JSON
    $.get("/search", function(searchData) {
    var searchData = $.parseJSON(searchData)
    
    // Updates text to match search type (either by for a username or with for a hashtag)
    if (searchData.searchTerm.includes('@')){
        document.querySelectorAll(".preposition").forEach(elem => elem.textContent='by ')
    } else {
        document.querySelectorAll(".preposition").forEach(elem => elem.textContent='with ')
    }

    // Updates text with searach term and day/week values
    document.querySelectorAll(".term").forEach(elem => elem.textContent=searchData.searchTerm);
    document.querySelector("#dayCount").textContent=searchData.dayCount.toLocaleString("en-US");
    document.querySelector("#weekCount").textContent=searchData.weekCount.toLocaleString("en-US");


    // Sets search data into a array
    var bData = [searchData.b1, searchData.b2, searchData.b3, searchData.b4, searchData.b5, searchData.b6, searchData.b7]
    
    // Gets search data values and adds them to graph labels, also shortens them based on size (using numeral library)
    var g = 1
    for (var i in bData) {
        document.getElementById('g'+g).textContent=numeral(bData[i]).format('0 a');
        document.getElementById('b'+g).title=(bData[i]);
        g++;
    }

    // Calculates largest values of last 7 days
    // Then uses that to calculate a height for each bar relative to largest and updates height
    const largest = Math.max(bData[0], bData[1], bData[2], bData[3], bData[4], bData[5], bData[6]);
    var b = 1
    for (var i in bData) {
        document.getElementById('b'+b).style.height = ((bData[i]/largest)*200).toString()+'px';
        b++;
    }

})
}


</script>
{% endblock %}