{% extends "base.html" %}
      
{% block title %}Twitter Satistics{% endblock %}

{% block content %}


<div class="container">
    <h1>What's happening on <span class="blue">Twitter</span> today?</h1>
    <div>
        <div class="numContainer">
        <span class="lrgCounter" id="totalToday">732,213,123</span>
        </div>
        <h3>Tweets sent today</h3>
    </div>
    <div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="totalWeek">2,839,121,291</span>
            </div>
            <h4>Tweets sent this week</h4>
        </div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter" id="totalYear">421,223,623,712</span>
            </div>
            <h4>Tweets sent this year</h4>
        </div>
    </div>
    <p>Estimated counts based off data from internetlivestats.com</p>
</div>
<hr class="solid">
<div class="container">
    <div class="statsSearch">
        <h3>Look for stats of a <span class="blue">#hashtag</u></span> or <span class="blue">@username</span></h3>
        <form action="POST">
            <input type="text" placeholder="#example">
            <input type="submit" value="Search">
        </form>
    </div>
    <h2><span class="blue">#example</span></h2>
    <div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter">{{dayCount}}</span>
            </div>
            <h4>Tweets sent with <span class="blue">#example</span> today</h4>
        </div>
        <div class="countContainer">
            <div class="numContainer">
            <span class="medCounter">{{weekCount}}</span>
            </div>
            <h4>Tweets sent with <span class="blue">#example</span> this week</h4>
        </div>
    </div>
    <div class="graphContainer">
        <span class="graphBar" style="height: 180px"></span>
        <span class="graphBar" style="height: 150px"></span>
        <span class="graphBar" style="height: 160px"></span>
        <span class="graphBar" style="height: 190px"></span>
        <span class="graphBar" style="height: 200px"></span>
        <span class="graphBar" style="height: 175px"></span>
        <span class="graphBar" style="height: 120px"></span>
    </div>
    <h4>Last 7 days of Tweets sent with <span class="blue">#example</span></h4>
    <p>Not affiliated with Twitter, Twitter is a Trademark of Twitter, Inc.</p>

</div>

<script>

var current = new Date();

let secondAmount = 6123;
let totalDay =  current.getSeconds() + (((current.getHours() * 60) + current.getMinutes()) * 60) * 6000;
let totalWeek = weekCalc();
let totalYear = yearCalc();

function weekCalc()
{
    if (current.getDay() == 0) {
        todayNum = 6;
    } else {
        todayNum = current.getDay-1;
    }
    return totalDay+((((todayNum*24)*60)*60)*secondAmount);
}

function yearCalc()
{
    return ((((getDayYear()*24)*60)*60)*secondAmount)
}

function getDayYear()
{
    const timestamp1 = Date.UTC(
        current.getFullYear(),
        current.getMonth(),
        current.getDate(),
    );

    const timestamp2 = Date.UTC(current.getFullYear(), 0, 0);

    const diffInMs = timestamp1 - timestamp2;

    const diffInDays = diffInMs / 1000 / 60 / 60;

    return diffInDays;
}

setInterval(updateTotals, 100)
function updateTotals()
{
    document.getElementById("totalToday").textContent=totalDay.toLocaleString("en-US");
    document.getElementById("totalWeek").textContent=totalWeek.toLocaleString("en-US");
    document.getElementById("totalYear").textContent=totalYear.toLocaleString("en-US");
    totalDay += Math.trunc(secondAmount/10);
    totalWeek += Math.trunc(secondAmount/10);
    totalYear += Math.trunc(secondAmount/10);
}
</script>

       
{% endblock %}